mat-card-header {
    font-weight: 500;
    margin-bottom: 30px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    background-color: #616161;
    color:white;
}

.price {
    font-weight: 800;
    font-size: 2em;
    
}

.home-card {
    margin: 10px auto;
    border-radius: 4px;
    max-width: 60%;
    line-height: 1.5em;
    padding: 1.5em;
}

.home-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

img{
    width: 75%;
    align-items: center;
  }

  .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
  }