<footer class="footer">
    <div class="footer-content">
      <mat-card class="footer-section about">
        <mat-card-title>Sobre FitHub</mat-card-title>
        <mat-card-content>
          <p>
            FitHub es tu destino para el entrenamiento físico y el bienestar. Nos dedicamos a proporcionar servicios de alta calidad para ayudarte a alcanzar tus objetivos de fitness, ya sea a través de nuestros productos de equipamiento de primera clase o nuestras sesiones de entrenamiento personalizado.
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="footer-section links">
        <mat-card-title>Enlaces Rápidos</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item><a mat-line href="#">Inicio</a></mat-list-item>
            <mat-list-item><a mat-line href="servicios">Servicios</a></mat-list-item>
            <mat-list-item><a mat-line href="productos">Productos</a></mat-list-item>
            <mat-list-item><a mat-line href="#">Sobre Nosotros</a></mat-list-item>
            <mat-list-item><a mat-line href="#">Contacto</a></mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="footer-section contact">
        <mat-card-title>Contacto</mat-card-title>
        <mat-card-content>
          <p>
            <mat-icon>location_on</mat-icon> Avenida Central, Calle 15, Alajuela
          </p>
          <p>
            <mat-icon>phone</mat-icon> +506 9999-9999
          </p>
          <p>
            <mat-icon>email</mat-icon> infofithub.com
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 FitHub. Todos los derechos reservados.</p>
    </div>
  </footer>