<div *ngIf="datos" class="cita-detail-container">
  <mat-card class="cita-detail-card">
    <mat-card-header>
      <mat-card-title>{{ datos.usuario.nombre }}</mat-card-title>
      <mat-card-subtitle>Fecha: {{ datos.fecha | date: 'fullDate' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="detail-row">
        <mat-icon>schedule</mat-icon>
        <p>Hora de Inicio: {{ datos.horaInicio | date: 'shortTime' }}</p>
      </div>
      <div class="detail-row">
        <mat-icon>schedule</mat-icon>
        <p>Hora de Fin: {{ datos.horaFin | date: 'shortTime' }}</p>
      </div>
      <div class="detail-row">
        <mat-icon>location_on</mat-icon>
        <p>Sucursal: {{ datos.sucursal.nombre }}</p>
      </div>
      <div class="detail-row">
        <mat-icon>local_offer</mat-icon>
        <p>Servicio: {{ datos.servicio.nombre }}</p>
      </div>
      <div class="detail-row">
        <mat-icon>info</mat-icon>
        <p [ngStyle]="{'color': getColorByEstado(datos.estado)}">Estado: {{ datos.estado }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
