mat-card-header {
    font-weight: 500;
    margin-bottom: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    background-color: dodgerblue;
    color: white;
  }
  .price {
    padding: 0.5em;
    font-weight: 800;
    font-size: 2em;
    float: right;
  }
  .home-card {
    margin: 10px auto;
    border-radius: 4px;
    max-width: 60%;
    padding: 0.5em;
    line-height: 1.5em;
    padding: 1.5em;
  }
  .home-card-content {
    display: flex;
    justify-content: space-between;
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      max-width: 50%;
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        flex-direction: column;
        align-items: start;
        padding: 1em;
      }
    }
  }
  