.example-spacer {
    flex: 1 1 auto;
  }
  .link-active{
    font-weight: 800;
    color: aqua;
    }
    .example-header-image {
      background-image: url("/assets/images/gamepad.png");
      background-size: cover;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-bottom: 16px;
      object-fit: cover;
    }