
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    }
    .example-header-image {
    background-image: url('/assets/images/gamepad.png');
    background-size: cover;
    }
    