grid-container {
    margin: 20px;
    }

    .grid-container{
      margin: 20px;
    }

    mat-divider{
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
      }
    
      .texto{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    .dashboard-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    img{
      width: 60%;
      align-items: center;
    }

    .imagen{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%;
    }

    .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
    }
    .full-width {
    width: 80%;
    }
    .dashboard-card-header{
    font-weight: 500;
    margin-bottom: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #616161;
    color:white;
    width: 100%;
    }
    .dashboard-card-content{
    line-height: 1.5em;
    padding: 1.5em;
    }
    .price{
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    } 

    mat-grid-list{
      margin-top: 20px;
    }


    