grid-container {
    margin: 20px;
  }
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .full-width {
    width: 80%;
  }
  .dashboard-card-header {
    font-weight: 500;
    margin-bottom: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    background-color: #00bfa5;
    color: white;
  }
  .dashboard-card-content {
    line-height: 1.5em;
    padding: 1.5em;
  }
  .price {
    font-weight: 800;
    font-size: 2em;
    text-align: center;
  }
  